body{
	position: relative;
	background: green;
}

/*Mexe na area do jogo*/
.areajogo1{
	display: none;
    width: 100%;
    height: 500px;
	position: relative;
	overflow: hidden;
	background: white;
}

.pontuacao{
	text-align: center;
	margin-top: 16px;
	font-size: 32px;
	font-family: 'Press Start 2P', cursive;
}


