body{
	position: relative;
	background: #A1AAAA;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Mexe na area do jogo*/
.areajogo1{
	display: none;
    width: 100%;
	max-width: 1024px;
	height: 500px;
	position: relative;
	overflow: hidden;
    background: url(../img/chaoCidadeSuja.png), url(../img/CidadeSuja.png);
	background-position: left bottom, center center;
	background-repeat: repeat-x, repeat-x;
    background-size: 2800px 200px, 200% 100% !important;
	animation: backgroundCarro 500s infinite linear, backgroundCarro 500s infinite linear; 
	z-index: -2;
}

@media screen and (min-width: 1819px) and (min-height: 923px) {
	.areajogo1{
		margin-bottom: 35px;
	}
}

.areaJogoCidadeLimpa{
	width: 100%;
    height: 500px;
	position: relative;
	overflow: hidden;
	background: url(../img/chaoCidadeLimpa.png), url(../img/CidadeLimpa.png);
	background-position: left bottom, center center;
	background-repeat: repeat-x, repeat-x;
    background-size: 2800px 200px, 200% 100%;
	animation: backgroundCarro 500s infinite linear; 
	z-index: -2;
}

.areaJogoCiclovia{
	display: none;
    width: 100%;
    height: 500px;
	position: relative;
	overflow: hidden;
    background: url(../img/CicloviaBackground.jpg); 
	background-position: left bottom;
    background-size: 180% 120% !important; 
	background-repeat: repeat-x; 
	animation: backgroundCarro 500s infinite linear; 
	z-index: -2;
}

@keyframes backgroundCarro {
	0%{
		background-position-x: 0px, 0px;
	}
	100%{
		background-position-x: -150000px, -10000px;
	}
}

.pontuacao{
	text-align: center;
	margin-top: 16px;
	font-size: 32px;
	font-family: 'Press Start 2P', cursive;
	z-index: 100000 !important;
}

.pontuacao2x{
	color: gold;
	margin-right: 16px;
	text-shadow: 0px 2px 5px black;
}

.pontuacaoTimeBar{
	display: none;
	width: 100%;
	height: 5px;
	transition: width 1s linear;
	background: gold;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}


