/*Mexe no jogador*/
.player{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
	position: absolute;
	bottom: 0px;
	width: 50px;
	height: 50px;
	left: 40px;
	/*animation: pula linear infinite 1s;*/
}

.sprite{
	position: absolute;
	display: none;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.carro{
	width: 133px;
	height: 40px;
}

.carro--1{
	display: block;
}

.bicicleta{
	background: orange;
}

.onibus{
	animation: pisca 3s infinite;
	background: #E6CC0E;
	z-index: 2;
}

.carroEletrico{
    background: white;
}

.pula{
	animation: pula linear infinite 1s !important;
}

.pulaOnibus{
	animation: pula linear infinite 1s, pisca 3s infinite;
}

@keyframes pula {
	0%{
		bottom: 0px;
	}

	45%{
		bottom: 100px;
	}
	50%{
		bottom: 100px;
	}
	55%{
		bottom: 100px;
	}
	100%{
		bottom: 0px;
	}
}