@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.containerPopUpRestart{
	width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: none;
	position: fixed;
    justify-content: center;
    align-items: center;
	top: 0;
	left: 0;
}

.popUp{
    width: 80%;
    max-width: 500px;
    padding: 32px 20px;
    height: fit-content;
    display: flex;
    animation: modal .6s;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    background: #52a555;
    border-radius: 16px;
    color: white;
    border: 2px dashed white;
    font-family: 'Press Start 2P', cursive;
}

.buttonPopUp{
    animation: modalButton 2.2s;
    background: #52a555;
    border-radius: 8px;
    border: 2px solid white;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 3.5rem;
    line-height: 24px;
    padding: 16px;
    transition: 0.2s background ease-in-out;
}

.buttonPopUp:hover{
    background: #62c465;
    cursor: pointer;
}

.buttonPopUp:active{
    background: #72e475;
}

.popUpScorePlaceholder{
    font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem); 
}

.popUpTitle{
    font-size: clamp(18px, 8px + 3.125vw, 32px);
    text-align: center;
    margin: 0;
}

.popUpMensagemPosGameOver{
    font-family: 'VT323', monospace;
	font-size: 24px;
    margin: 0;
    text-align: left;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes modalButton {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

