.powerUp--bicicleta, .powerUp--onibus, .powerUp--carroEletrico, .powerUp--caminhada{
    align-items: center;
    border-radius: 100%;
    bottom: 65px;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    position: absolute;
    right: -10%;
    width: 50px;
    color: white;
    /* animation: powerUpKeyframe 5s infinite linear; */
}

.powerUp--bicicleta p, .powerUp--onibus p, .powerUp--carroEletrico p, .powerUp--caminhada p{
    margin: 0;
}

.powerUp--bicicleta{
    background-image: url(../img/powerUp/bicicleta.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.powerUp--bicicleta::after{
    content: 'bicicleta';
    position: absolute;
    margin-bottom: 50px;
}

.powerUp--onibus{
    background-image: url(../img/powerUp/onibus.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;}

.powerUp--onibus::after{
    content: 'onibus';
    position: absolute;
    margin-bottom: 50px;
}

.powerUp--carroEletrico{
    background-image: url(../img/powerUp/carroEletrico.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;}

.powerUp--carroEletrico::after{
    content: 'carroEletrico';
    position: absolute;
    margin-bottom: 50px;
}

.powerUp--caminhada{
    background-image: url(../img/powerUp/caminhada.png);
    background-repeat: no-repeat;
    background-size: 100% 80%;}

.powerUp--caminhada::after{
    content: 'caminhada';
    position: absolute;
    margin-bottom: 50px;
}

@keyframes powerUpKeyframe {
	0%{
		right: -10%;
	}
	100%{
		right: 100%;
	}
}