/*Mexe no obstaculo terrestre carro*/
.obstaculocarro{
	position: absolute;
	bottom: 0px;
	width: 50px;
	height: 50px;
	right: -20%;
	background-color: rgb(255, 0, 0);	
}
/*Mexe na obstaculo aéreo placa*/
.placa{
	position: absolute;
	bottom: 100px;
	width: 50px;
	height: 50px;
	right: -20%;
	background-color: rgb(128, 0, 100);
}


/*Animação do primeiro obstaculo*/
@keyframes carroparado {
	0%{
		right: -5%;
	}
	50%{
		right: 100%;
	}
	100%{
		right: 100%;
	}
}

@keyframes pisca {
	0%{
		opacity: 1;
	}
	10%{
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	30%{
		opacity: 0;
	}
	40%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	60%{
		opacity: 1;
	}
	70%{
		opacity: 0;
	}
	80%{
		opacity: 1;
	}
	90%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
